<script type="text/javascript" src="/javascript/book-list.js"></script>
<h4 align="center"> Books:</h4>
  
<ul id="book-list" class="span6">
  <% for book in @books %>
    <li>
      <i><a class="book-link" href="/book/<%= book.id %>"><%= book.author %> - <%= book.title %></a></i>
      <a class="review-link" href="/review" data-book_id="<%= book.id %>"><font color="#993D00"> add review </font></a>
    </li>
  <% end %>
</ul>

<form class="form-horizontal span6 invisible" action="/review" method="POST">
  <input type="hidden" name="book_id" id="book_id"/>
  <textarea name="text" id="text"> </textarea>

  <button class="btn" type="submit">Submit review</button>
</form>
