<h4 align=center> Quotes: </h4>


<% for quote in @quotes %>
  <blockquote><i><%= quote.text %></i>
    <small><font color="#993D00"><%= quote.book.author %> - <%= quote.book.title %></font></small>
  </blockquote>
<% end %>
        

